body {
	background: #9DCBED;
	color: #9DCBED;
	font-family: 'Î¢ÈíÑÅºÚ';
}

.loginpanel {
	padding: 10px 12px 12px 10px;
	-moz-box-shadow: 10px 10px 10px rgba(0, 0, 0, 1) inset, -9px -9px 8px
		rgba(0, 0, 0, 1) inset;
	-webkit-box-shadow: 8px 8px 8px rgba(0, 0, 0, 1) inset, -9px -9px 8px
		rgba(0, 0, 0, 1) inset;
	box-shadow: 8px 8px 8px rgba(0, 0, 0, 1) inset, -9px -9px 8px
		rgba(0, 0, 0, 1) inset;
	margin: 60px auto;
	background: url(../images/login/login-bg.gif);
	width: 960px;
	height: 613px;
}

.formpanel {
	padding: 1px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin: 270px 50px 50px 490px;
}

.field {
	height: 35px;
}

.field label {
	font-family: 'Î¢ÈíÑÅºÚ';
	font-size: 11pt;
	color: #1D5987
}

.field subject {
	color: #623DC0;
	height: 35px;
	text-align: center;
	font-size: 16pt;
	font-weight: bold;
}

.field input {
	width: 159px;
	height: 22px;
	overflow: hidden;
	color: #075587
}

.field errmsg {
	border-color: #FBC2C4;
	color: #8A1F11;
	font-weight: bold;
	margin-bottom: 1em;
	font-size: 19px;
}